{% extends "layout.html" %}
{% block title %}Credits{% endblock %}
{% block content %}

<h1>Credits</h1>

<div id="carousel-credits" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-credits" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-credits" data-slide-to="1"></li>
        <li data-target="#carousel-credits" data-slide-to="2"></li>
        <li data-target="#carousel-credits" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active text-center">
            <img src="/static/sponsor_logos/CSC-logo.jpg" style="margin: 0 auto;">

            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Community Security Coalition - Spokane Chapter
                </h3>
            </div>
        </div>
        <div class="item text-center">
            <img src="/static/sponsor_logos/Gravwell.png" style="margin: 0 auto;">
            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Gravwell

                </h3>
            </div>
        </div>

        <div class="item text-center">
            <img src="/static/sponsor_logos/IntriniumLogo.png" style="margin: 0 auto;">
            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Intrinium
                </h3>
            </div>
        </div>

        <div class="item text-center">
            <img src="/static/sponsor_logos/RiskLensLogo.png" style="margin: 0 auto;">
            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Marco Gasparini
                </h3>
            </div>
        </div>

        <!-- <div class="item text-center">
            <img src="/static/img/integeruser.png" alt="integeruser" style="margin: 0 auto;">
            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Francesco Cagnin
                    <span class="text-muted">(integeruser)</span>
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                    Stiff Droid
                </h3>
                <p>Satisfied unsatisfiable constraints</p>
            </div>
        </div>

        <div class="item text-center">
            <img src="/static/img/r1x.png" alt="r1x" style="margin: 0 auto;">
            <div class="carousel-caption">
                <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Riccardo Focardi
                    <span class="text-muted">(r1x)</span>
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                    Evil Emperor
                </h3>
                <p>Paid his slaves to build the great dark empire</p>
            </div>
        </div> -->
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-credits" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-credits" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
