{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}

<h1>Teams</h1>

<div class="row">
    <div class="col-md-12">
    {% for team in teams %}
        <div class="col-md-4">
            <h2 class="text-center"> team{{ team.id }}</h2>
            <table class="table" id="team-{{ team.id }}">
                <thead><tr><td>Team Name</td><td>IP</td></tr></thead>
                <tbody>
                  <tr id="team_id-{{ team.id }}"><td>{{ team.name }}</td><td>{{ team.ip }}</td></tr>

                </tbody>
            </table>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
